<ion-header>
  <ion-toolbar>
    <ion-title>Miresevini</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div style="display: flex; flex-direction: column; height: 100%" class="ion-justify-content-center">
    <form [formGroup]="credentialForm">
      <ion-item>
        <ion-label>Email</ion-label>
        <ion-input type="text" formControlName="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>
          Password
        </ion-label>
        <ion-input type="text" formControlName="password"></ion-input>
      </ion-item>
    </form>
    <ion-row>
      <ion-col size="6">
        <ion-button expand="block" (click)="signIn()">Logohu</ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button expand="block" (click)="signUp()">Regjistrohu</ion-button>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
