<ion-header>
  <ion-toolbar>
    <ion-title>Zgjidh Nivelin</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="levels$ | async as levels; else loading">
    <ion-item *ngFor="let level of levels" (click)="nav.navigateForward('/game/' + level.uuid)">
      <ion-badge class="ion-margin-end">{{level.levelNumber}}</ion-badge>
      <ion-label>{{level.name}}</ion-label>
      <ion-icon *ngIf="isCompleted(level.uuid)" color="success" slot="end" name="checkmark-outline"></ion-icon>
    </ion-item>
  </ng-container>
  <ng-template #loading>
    Ju lutem prisni...
  </ng-template>

</ion-content>
